<%- include('partials/header') %>
<h1>Cadastrar Usuário</h1>
<form method="POST" action="/register">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input type="email" name="email" placeholder="E-mail" required><br>
  <input type="password" name="password" placeholder="Senha" required><br>
  <button class="btn btn-cadastrar" type="submit">Criar conta</button>
</form>
<%- include('partials/footer') %>